<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="WebApplication3.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Team KALKI</title>
    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:BundleReference runat="server" Path="~/Content/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        .mh-100 {
            min-height: 80vh;
        }

        .min-100 {
            min-height: 80vh;
        }

        .nav {
            background-color: #004080;
            color: white;
            font-size: 20px;
        }

        #log-out {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Shadow for logout button */
        }

        .active {
            border-bottom: 2px solid white;
        }

        .popup {
            display: none;
            position: absolute;
            top: 50px; /* Adjust this value as needed */
            right: 10px; /* Adjust this value as needed */
            width: 300px;
            background-color: white;
            box-shadow: 0 2px 5px rgba(0,0,0,0.5);
            transition: opacity 0.3s;
            z-index: 1000;
        }

            .popup.active {
                display: block;
            }

        .popup-content {
            padding: 20px;
            text-align: center;
        }

        .close-popup {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 30px;
            cursor: pointer
        }
    </style>

</head>
<body class="mh-100">
    <form id="form1" runat="server" class="min-100">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <nav class="navbar navbar-expand-sm nav">
            <div class="container d-flex justify-content-between">
                <div class="navbar-collapse d-sm-inline-flex justify-content-around" style="margin: 0 25%">
                    <ul class="navbar-nav flex-grow-1 justify-content-around">
                        <li class="nav-item"><a class="nav-link text-white" runat="server" href="~/Verifier">Home</a></li>
                        <li class="nav-item "><a class="nav-link text-white" runat="server" href="~/Support">Help/Support</a></li>
                        <li class="nav-item "><a class="nav-link text-white" runat="server" href="~/ViewAbout">About</a></li>
                        <li class="nav-item "><a class="nav-link text-white" runat="server" href="~/ViewBusinessRules">Business Rules</a></li>
                    </ul>
                </div>
            </div>
            <button type="button" class="bg-black text-white" id="log-out" style="margin-right: 25px">LOGOUT</button>
        </nav>
        <div id="logoutPopup" class="popup">
            <div class="popup-content">
                <span class="close-popup">&times;</span>
                <p>Are you sure you want to leave?</p>
                <asp:Button runat="server" ID="confirmLogout" class="btn btn-danger" Text="Yes" OnClick="ConfirmLogOut_Click"></asp:Button>
                <button id="cancelLogout" type="button" class="btn btn-secondary">No</button>
            </div>
        </div>
        <div class="container body-content min-100">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
    <footer class="text-center position-relative bottom-0 w-100">
        <hr />
        <p>&copy; <%: DateTime.Now.Year %> - Copyright Reserved : Team Kalki</p>
    </footer>
    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/Scripts/bootstrap.js") %>
    </asp:PlaceHolder>
    <script>
        document.getElementById('log-out').addEventListener('click', function () {
            document.getElementById('logoutPopup').classList.add('active');
        });

        document.querySelector('.close-popup').addEventListener('click', function () {
            document.getElementById('logoutPopup').classList.remove('active');
        });

        document.getElementById('cancelLogout').addEventListener('click', function () {
            document.getElementById('logoutPopup').classList.remove('active');
        });

        document.getElementById('confirmLogout').addEventListener('click', function () {
            document.getElementById('logoutPopup').classList.remove('active');
        });

    </script>
</body>
</html>
